@model mvcdemo.Models.DiscountModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Discount</title>
   
</head>
<body>
    @using (Html.BeginForm())
    {
        <h4>Discount Calculation</h4>
            <div>Amount</div>
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount, "")
            <p/>
            <div>Rate</div>
            @Html.EditorFor(model => model.Rate)
            @Html.ValidationMessageFor(model => model.Rate, "")
            <p />
            <input type="submit" value="Calculate" />
            <p />
            if (Model.Discount > 0)
            {
                <h4>Discount : @Model.Discount</h4>

            }
    }

</body>
</html>
