@model IEnumerable<mvcdemo.Models.Product>

<table border="1" cellpadding="5pt" width="100%">
    <tr>
        <th>
            Id
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qoh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.Qoh)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                        new { onclick = "return confirm('Do you want to delete?')" })
            </td>
        </tr>
    }

</table>